* {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.diary {
	text-align: center;
}

.input {
	width: 99vw;
	height: 100px;
	border: 2px solid black;
	border-radius: 20px;
	margin-bottom: 5px;
}

.submit {
	width: 100vw;
	height: 30px;
	border: 2px solid black;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
}
.year-month-button {
	display: flex;
	margin: auto;
	width: 300px;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}
.calendar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.day,
.selected-day {
	border: 2px solid black;
	margin: 5px;
	padding: 15px;
	border-radius: 20px;
	width: 70px;
	text-align: center;
}

.selected-day {
	background-color: aquamarine;
	border: none;
}

.text-box {
	width: 99vw;
	height: 100px;
	border: 2px solid black;
	border-radius: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	padding-left: 20px;
}

.turnBlue-textarea {
	background-color: rgb(41, 241, 231);
	color: rgb(236, 243, 243);
	font-size: 20px;
	font-weight: bolder;
	border: none;
}

#edit-del {
	width: 100px;
	margin: 10px;
	height: 30px;
	border: 2px solid black;
	border-radius: 20px;
	font-weight: bold;
	font-size: 20px;
}
